DB_USER=plants_api                                   # user name for the Postgres database
DB_PASS=plants_api_password                          # user password for the Postgres database
DB_ADDR=localhost                                    # address of the Postgres DBMS
DB_PORT=5432                                         # Postgres DBMS port
DB_NAME=green_db                                     # Postgres database name
DB_POOL_SIZE=15                                      # database connections pool maximum size (minimum = maximum - 5)
LOGGER_VERBOSITY=INFO                                # console logger verbosity
#ADDITIONAL_LOGGERS=TRACE,trace.log;ERROR,error.log  # additional log files configuration
PORT=8080                                            # application running port
HOST=0.0.0.0                                         # application host
PHOTOS_DIR=./photos/plants_photos                    # directory path to store plants photos
PHOTOS_PREFIX=http://nginx.site/photo/               # prefix to add to photo_name to get a working link
DEBUG=0                                              # application debug configuration